/*
  Start adding CSS here
*/

body {
  font-family: sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #aaa;
}

th > a, td {
  text-decoration: none;
  padding: 10px;
}

th > a {
  display: block;
}

.currentColumn {
  background: #eee;
}